# Gradle
.gradle/
build/
gradle-app.setting
.gradletasknamecache

# IDE
.idea/
*.iml
.vscode/
.settings/
.project
.classpath

# Compiled files
*.class
*.jar
!gradle/wrapper/gradle-wrapper.jar
*.war
*.ear
bin/

# Logs
*.log

# OS specific
.DS_Store
Thumbs.db 